<div id='row'>
	<div id='data'>
		<%= link_to result.name, result, :id => 'link_to_data' %>
	</div>

	<div id='controls'>
		<%= link_to "Edit", edit_obra_type_path(result) %>
		<%= link_to "Delete", result, :confirm => 'Are you sure?', :method => :delete %>
	</div>
</div>

