<h1>Obra Type</h1>    

<p>
	<b>Id:</b>
	<%=h @obra_type.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @obra_type.name %>
</p>

<%= link_to 'Edit', edit_obra_type_path(@obra_type) %> |
<%= link_to 'Back', obra_types_path %>

