/*
    Document   : classical
    Created on : 25/03/2009, 17:38:01
    Author     : fsaenz
    Description:
        Purpose of the stylesheet follows.
*/

div#container_classical {
    font-family:arial,sans-serif;
    height:auto !important;
    margin:0 auto -8.6em;
    min-height:100%;
}

div#head {
    background:#676770;
    margin: 0 auto;
}

div.menu {
    margin: 0 auto;
}

div.user {
  float: right;
  width: 130px;
  height: 10px;
  margin-top: 10px;
}

a#link_home:link {color:white; text-decoration: none}
a#link_home:visited {color:white; text-decoration: none}
a#link_home:active {color:white; text-decoration: none}
a#link_home:hover {color:white; font-weight:bold}

.errorExplanation {
    color:red;
}

#footer {
    background:#676770;
	color:white;
	clear: both;
}

#content {
	width:50%;
    margin: 0 auto;
}

.classical_form{
    width: 500px;
	background-color:#EAF2F5;
	padding:10px;
	margin:0 auto 20px auto;
	border: 1px solid #BEDCE7;
}

.row {
    margin: 1em 0 0 0;
    white-space: nowrap;
}
#row #data {
      display: block;
      width: 20em;
      float: left;
      clear: both;
      margin-right: 1em; }

  form .form_element {
    margin: 1em 0 0 0;

    white-space: nowrap; }

    form .form_element label {
      display: block;
      width: 10em;
      float: left;
      clear: both;
      margin-right: 1em; }
    form .form_element input {
      display: block;
    }

