/* 
    Document   : classical
    Created on : 25/03/2009, 17:38:01
    Author     : fsaenz
    Description:
        Purpose of the stylesheet follows.
*/

#contenedor {
  width: 800px;
  font-family:"Arial";
  background:#676770;
  margin: 0 auto;

}

a#link_home:link {color:white; text-decoration: none}
a#link_home:visited {color:white; text-decoration: none}
a#link_home:active {color:white; text-decoration: none}
a#link_home:hover {color:white; font-weight:bold}


.errorExplanation {
    color:red;
}

#head {
	color:white;
	padding-left:5px;
}

#content {	
	background-color:white;
	float: left;
  	width: 800px;
	margin: 0 auto;
}

#footer {
	color:white;
	clear: both;
}

#data {
	float:left;
	width:50%;
}

#controls {
	float:left;
}

.classical_form{
	background-color:white;
	padding:10px;
}
