%tr
  %td= link_to composer.name, composer, :id => 'link_to_data'
  %td= link_to "Edit", edit_composer_path(composer)
  %td= link_to "#{t :delete}", composer, :confirm => 'Are you sure?', :method => :delete

