#row
  #data
    = link_to composer.full_name, composer, :id => 'link_to_data'
  #controls
    = link_to "Edit", edit_composer_path(composer)
    = link_to "#{t :delete}", composer, :confirm => 'Are you sure?', :method => :delete

