<div id='row'>
	<div id='data'>
		<%= link_to result.full_name, result, :id => 'link_to_data'  %>
	</div>

	<div id='controls'>
		<%= link_to "Edit", edit_composer_path(result) %>
		<%= link_to "#{t :delete}", result, :confirm => 'Are you sure?', :method => :delete %>
	</div>
</div>

