<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Classical - Composers</title>
  </head>
  <body>
    <h1>Composer</h1>
    

    <p>
      <b>Name:</b>
      <%=h @composer.name %>
    </p>

    <p>
      <b>Title:</b>
      <%=h @composer.nationality %>
    </p>

    <%= link_to 'Edit', edit_composer_path(@composer) %> |
    <%= link_to 'Back', composers_path %>
  </body>
</html>