<div id="contenedor">
  <div id="head">
    <h1>Classical</h1>
  </div>

  <div id="content">
	  	<%= render(:partial => "formRegistration", :locals => {:user => @user})%>
  </div>

	<%= link_to 'Cancel', logins_path %>

	<div id="footer">
		<p>Copyright 2009</p>
	</div>	
</div>
