<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "classical" , :media => "all" %>
    <title>Classical</title>
  </head>
  <body>
    <div id="banner">
      <h1>HOLA!</h1>
    </div>
    <div id="columns">
      <div id="side">
        <p>
          <%= link_to "Composers", composers_path %>
        </p>
        <p>
          <%= link_to "Obra Types", obra_types_path %>
        </p>
      </div>
    </div>
  </body>
</html>