.row
  .data Name
  - unless @section == 'composers'
    .data Composer
  - unless @section == 'obra_types'
    .data Obra Type
  - unless @section == 'orchestras'
    .data Orchestra
  - unless @section == 'directors'
    .data Director
  - unless @section == 'solists'
    .data Solist
  .data Opus N°

