<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<%= stylesheet_link_tag "login" , :media => "all" %>
	<%= javascript_include_tag :defaults %>

    <title>Classical</title>
  </head>
  <body>
  	<div id="contenedor">
	    <div id="head">
	      <h1>Classical</h1>
	    </div>
		
	    <div id="content">
	    	<p>
	    		<div style="float: left; width: 100px">Username:</div>
				<div style="float: left;"><input type="text" name="username" id="username" size="30"/></div>
			</p>
			<br />
			<p>
				<div style="float: left; width: 100px">Password:</div>
				<div style="float: left;"><input type="text" name="password" id="password" size="30" /></div>
			</p>
			<br />
			<p>
			<div id="buttonLogin" al>
				<input type="submit" value="Login" />
			</div>
			</p>
	    </div>
		
		<div id="footer">
			<p>Copyright 2009</p>
		</div>
	</div>
  </body>
</html>