%tr
  %td= link_to orchestra.name, orchestra, :id => 'link_to_data'
  %td= link_to "Edit", edit_orchestra_path(orchestra)
  %td= link_to "#{t :delete}", orchestra, :confirm => 'Are you sure?', :method => :delete

