<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Classical - Orchestra</title>
  </head>
  <body>
    <h1>Orchestra</h1>
	
    <p>
      <b>Id:</b>
      <%=h @orchestra.id %>
    </p>

    <p>
      <b>Name:</b>
      <%=h @orchestra.name %>
    </p>

    <%= link_to 'Edit', edit_orchestra_path(@orchestra) %> |
    <%= link_to 'Back', orchestras_path %>
  </body>
</html>