%tr
  %td= link_to instrument.name, instrument, :id => 'link_to_data'
  %td= link_to "Edit", edit_instrument_path(instrument)
  %td= link_to "#{t :delete}", instrument, :confirm => 'Are you sure?', :method => :delete

