<p>
	<div id='data'>
		<%=h result.name %>	
	</div>
  
	<div id='controls'>
		<%= link_to "Show", result %>
		<%= link_to "Edit", edit_instrument_path(result) %>
		<%= link_to "Delete", result, :confirm => 'Are you sure?', :method => :delete %>	
	</div>  
</p>

<br>

