#row
  #data
    = link_to result.name, result, :id => 'link_to_data'
  #controls
    = link_to "Edit", edit_instrument_path(result)
    = link_to "#{t :delete}", result, :confirm => 'Are you sure?', :method => :delete
