<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "classical", "menu" , :media => "all" %>
    <title>Classical</title>
  </head>
  <body>
  	<div id="contenedor">
	    <div id="head">
	      <h1>Classical</h1>
		  
	      <ul id="menu">
	        <li id="home">
	          <%= link_to "<b>Composers</b>", composers_path %>
	        </li>
	        <li id="single">
	           <%= link_to "<b>Obra Types</b>", obra_types_path %>
	        </li>
	      </ul>
		  
	    </div>
	    <div id="content">
	    	<%= yield(:content) or yield %>
	    </div>
		<div id="footer">
			<p>Copyright 2009</p>
		</div>
	</div>
  </body>
</html>
